* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

nav {
    width: 100%;
    height: 15vh;
    padding: 1vh 2vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    color: #ff6f00;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 5vw;
}

#main {
    padding: 20vh 2vw; /* Add horizontal padding for symmetry */
    background-color: #ff6f00;
}

.div {
    text-align: center;
    background-color: #f5f5f5;
    color: #212121;
    padding: 10vh 2vw; /* Add horizontal padding for symmetry */
    margin: 5vh auto; /* Center the div horizontally */
    width: 70vw;
    border-radius: 2vw;
}

#habits {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#quote-div {
    font-style: italic;
    font-weight: 300;
}

#habits-header {
    text-align: left;
}

.habit-div {    
    background-color: #f5f5f5;
    color: #212121;
    padding: 10vh;
    margin: 5vh;
    width: 70vw;
    border-radius: 2vw;
}

.habit {
    background-color: #f5f5f5;
    color: #212121;
    padding: 10vh 2vw; /* Add horizontal padding for symmetry */
    margin: 5vh auto; /* Center the habit div horizontally */
    width: 70vw;
    border-radius: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.habit br {
    width: 50vw;
}

.habit h3 {
    flex: 1;
    text-align: left;
    margin-right: 2vw;
}

.button-container {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */

}

.habit button {
    background-color: #f5f5f5;
    border: none;
    width: 6vw; /* Set the button width */
    height: 6vh; /* Set the button height */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
    cursor: pointer;
    padding: 0; /* Reset padding to avoid overflow */
    margin:0;
}

.habit button img {
    width: 2vw;
    height: 2vh;
    margin: 0;
    padding: 0;
}

#input {
    text-align: center;
    background-color: #f5f5f5;
    color: #212121;
    border: none;
    border-radius: 10px;
    width: 20vw;
    font-size: 20px;
    font-weight: bold;
    margin-right: 2vw;
    padding: 1vw;
}

.add-habits-button {
    background-color: #2c3e50;
    color: #ff6f00;
    font-size: 1.8vh;
    font-weight: bold;
    padding: 3vh 5vw;
    border: 1vw;
    border-radius: 1vw;
}

footer {
    width: 100%;
    height: 10vh;
    padding: 1vh 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #37474f;
    color: #ff6f00;
    font-size: 2vh;
}
